.template {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    background: var(--template);
}

.template__main {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 56px;
    justify-content: center;

    padding-top: 36px;

    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: normal;
}

.menu {
    width: 229px;
    color: var(--black);
}

.menu__title {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
}

.menu__body {
    margin: 0;
    padding: 16px 0;
}

.menu__item {
    list-style-type: none;

    font-size: 14px;
    line-height: 22px;

    margin: 4px 0;
}

.menu__item-link {
    text-decoration: none;
    color: var(--black);
}

.menu__item-link:hover {
    color: var(--notification);
}

.menu__item:last-child {
    padding-top: 30px;
}

.component {
    box-sizing: border-box;
    width: 825px;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;

    padding: 32px 48px 32px 48px;
}

.component__title {
    font-size: 28px;
    line-height: 38px;

    color: var(--grey-4);

    margin: 0;
}

.component__body {
    padding-top: 24px;
}

