.toggler {
    display: inline-flex;
    flex-direction: column;
}

.toggler__input {
    position: absolute;
    clip: rect(0,0,0,0);
    opacity: 0;
}

.toggler__state {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggler__control {
    width: 52px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 14px;
    display: inline-flex;
    position: relative;
    transition: background 300ms ease-in-out, border 300ms ease-in-out;
}

.toggler__icon {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
    color: var(--grey-2);
    transition: left 300ms ease-in-out, color 300ms ease-in-out;
}

.toggler__label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);

    display: inline-flex;
    margin-left: 12px;
}

.toggler__input:checked ~ .toggler__state .toggler__control {
    background: var(--primary-1);
    border-color: var(--primary-1);
}

.toggler__input:checked ~ .toggler__state .toggler__icon {
    left: 50%;
    color: var(--white);
}

.toggler__input:focus ~ .toggler__state .toggler__label {
    text-decoration: underline;
}

.toggler__input[disabled] ~ .toggler__state {
    pointer-events: none;
}

.toggler__input[disabled] ~ .toggler__state .toggler__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.toggler__input[disabled] ~ .toggler__state .toggler__icon {
    color: var(--grey-3);
}

.toggler__input[disabled] ~ .toggler__state .toggler__label {
    color: var(--grey-2);
}
