.histogram {
    display: flex;
    flex-basis: 354px;
    flex-direction: column;

    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;

    padding: 16px 24px 24px 24px;
}

/*.histogram__body {*/
/*    flex-basis: 354px;*/
/*    flex-direction: column;*/

/*    background: var(--white);*/
/*    border: 1px solid var(--grey-3);*/
/*    box-sizing: border-box;*/
/*    border-radius: 8px;*/

/*    padding: 16px 24px 24px 24px;*/
/*}*/

.histogram__information {
    display: flex;
    padding-bottom: 39px;
}

.histogram__number-orders {
    flex-grow: 1;
}

.histogram__view-all {
    display: inline-block;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: var(--primary-1);
    text-decoration: none;
}

.histogram__title {
    margin: 0 0 6px;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);

    opacity: 0.8;
}
.histogram__number {
    margin: 0;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    color: var(--black);
}

.histogram__view {
    align-items: flex-end;
    display: flex;
    gap: 1px;
    height: 50px;
}

.histogram__item {
    flex-grow: 1;

    flex-basis: 9px;
    background: var(--primary-1);
}
