.avatar {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.avatar_card {
    width: 116px;
    height: 116px;
    position: relative;
    margin-left: 12px;
}

@media screen and (min-width: 768px) {
    .avatar_card {
        width: 160px;
        height: 160px;
        margin-left: 61px;
    }
}
