@import '../fonts/fonts.css';

:root {
    --white: #FFFFFF;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374fc7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #dde2e5;
    --grey-3: #acb5bd;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --primary-1: #4263eb;
    --secondary-1: #5028C6;
    --preview: #F9FAFC;

    --calendar: #334D6E;
    --calendar-day: #90A0B7;
    --calendar-between-active: #A0B1F5;

    --modal: rgba(196, 196, 196, 1);
    --modal-title: #334D6E;
    --template: #E5E5E5;
    --notification: #D84910;

    --linear-gradient: linear-gradient(92.51deg, #dde2e5 6.44%, #e2e6e8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    --linear-gradient-0: linear-gradient(92.51deg, #dde2e5,#f3f5f5);
    --linear-gradient-17: linear-gradient(92.51deg,  #e2e6e8 0%, #dde2e5 17%, #e2e6e8 33%, #f3f5f5 100%);
    --linear-gradient-34: linear-gradient(92.51deg, #f3f5f5 0%, #e2e6e8 18%, #dde2e5 34%, #e2e6e8 50%, #f3f5f5 100%);
    --linear-gradient-50: linear-gradient(92.51deg,  #f3f5f5 0%, #e2e6e8 36%, #dde2e5 50%, #e3e7ea 65%, #f3f5f5 100%);
    --linear-gradient-67: linear-gradient(92.51deg,   #f3f5f5 0%, #e2e6e8 52%, #dde2e5 67%, #e3e7ea 82%, #f3f5f5 100%);
    --linear-gradient-83: linear-gradient(92.51deg,  #f3f5f5 0%, #e2e6e8 68%, #dde2e5 83%, #e3e7ea 100%);
    --linear-gradient-100: linear-gradient(92.51deg, #f3f5f5 0% ,#e3e7ea 75% ,#dde2e5 100%);

    --burger: rgba(249, 250, 252, 1);
}

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}

html, body {
    height: 100%;
}
