.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__icon {
    cursor: pointer;
    display: inline-block;
}

.tooltip__bubble {
    background: var(--primary-1);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    padding: 13px 21px 8px;

    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-2);

    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -9px);
    display: none;
}

.tooltip__bubble:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 14px solid transparent;
    border-top: 6px solid var(--primary-1);
}

.tooltip__icon:hover ~ .tooltip__bubble {
    display: inline-block;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
