.checkbox {
    display: inline-flex;
    flex-direction: column;
}

.checkbox__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
}

.checkbox__state {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__control {
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-flex;
    position: relative;
}

.checkbox__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox__label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);

    display: inline-flex;
    margin-left: 12px;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--primary-1);
    border-color: var(--primary-1);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__label {
    text-decoration: underline;
}

.checkbox__input[disabled] ~ .checkbox__state {
    pointer-events: none;
}

.checkbox__input[disabled] ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.checkbox__input[disabled] ~ .checkbox__state .checkbox__icon {
    display: none;
}

.checkbox__input[disabled] ~ .checkbox__state .checkbox__label {
    color: var(--grey-2);
}

.checkbox__icon_card {
    width: 11px;
    height: 9px;
}

.checkbox__label_card {
    font-size: 10px;
    line-height: 14px;
    margin-left: 7px;
}

.checkbox__state_card {
    cursor: default;
}

.checkbox__control_card {
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

.checkbox__control_checked {
    background: var(--primary-1);
    border-color: var(--primary-1);
}

@media screen and (min-width: 768px) {
    .checkbox__icon_card {
        width: 15px;
        height: 13px;
    }

    .checkbox__label_card {
        font-size: 16px;
        line-height: 24px;
        margin-left: 12px;
    }

    .checkbox__control_card {
        width: 28px;
        height: 28px;
        border-radius: 4px;
    }
}
