.component {
    box-sizing: border-box;
    padding: 32px 15px 32px;
}

.component__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    color: var(--grey-4);
    margin: 0;
}

.component__body {
    padding-top: 20px;
}

.component__body_tooltip {
    padding: 100px 0 0 70px;
}

.component__body_custom-form-elements {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.component__wrapper-custom-form-elements {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .component {
        background: var(--white);
        box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
        border-radius: 12px;

        padding: 32px 48px 32px 48px;
    }

    .component__title {
        font-size: 28px;
        line-height: 38px;
    }

    .component__body {
        padding-top: 24px;
    }

    .component__body_tooltip {
        padding: 100px 0 0 70px;
    }
}

