.preview {
    background: var(--preview);
    padding-bottom: 66px;
}
.preview__grid {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 24px;
}

@media screen and (min-width: 768px) {
    .preview {
        padding-bottom: 204px;
    }

    .preview__grid {
        padding-top: 67px;
        gap: 30px;
    }
}
